@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');


@import "tailwindcss";

@theme {
  --color-primary: #2C2C34;
  --color-secondary: #A8B4A5;
}

body {
  margin: 0;
  font-family: "Fira code";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
